In [1]:
import pandas as pd
url = "data/nhanes_2015_2016.csv"
da = pd.read_csv(url)

In [36]:
da.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [37]:
da['BMXWT'].mean()         # we can get a mean by calling mean function

81.34267560889509

In [39]:
da['BMXWT'] # all values of Given Dictionary

0        94.8
1        90.4
2        83.4
3       109.8
4        55.2
        ...
5730     59.1
5731    112.1
5732     71.7
5733     78.2
5734     58.3
Name: BMXWT, Length: 5735, dtype: float64

In [40]:
da['DMDEDUC2']

0       5.0
1       3.0
2       3.0
3       5.0
4       4.0
       ...
5730    3.0
5731    5.0
5732    4.0
5733    1.0
5734    5.0
Name: DMDEDUC2, Length: 5735, dtype: float64

Demographics on education: https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/SMQ_I.htm

In [41]:
da['DMDEDUC2'].unique()    # Categorical Ordered for unique values

array([ 5.,  3.,  4.,  2., nan,  1.,  9.])

In [42]:
g = da['RIAGENDR']    # Categorical, Unordered 
g

0       1
1       1
2       1
3       2
4       2
       ..
5730    2
5731    1
5732    2
5733    1
5734    2
Name: RIAGENDR, Length: 5735, dtype: int64

In [43]:
g.unique() # 1 is male and 2 is fe-male

array([1, 2])

# One Hot Encoding 
Hot mean 1 
Cold mean 0

In [44]:
animals = ['bird','cat','dog', 'cat', 'Lion','Goat','Crow']


d = {'categorical': animals}

df = pd.DataFrame(d) # dictionary of list is Data Frame in python

In [45]:
df

  categorical
0        bird
1         cat
2         dog
3         cat
4        Lion
5        Goat
6        Crow

In [46]:
df['categorical']

0    bird
1     cat
2     dog
3     cat
4    Lion
5    Goat
6    Crow
Name: categorical, dtype: object

In [47]:
# "dummies" is used to create columns corresponding to unique values
dfDummies = pd.get_dummies(df['categorical'], prefix = 'category') # category_Crow is category

In [48]:
dfDummies

,category_Crow,category_Goat,category_Lion,category_bird,category_cat,category_dog
0,0,0,0,1,0,0
1,0,0,0,0,1,0
2,0,0,0,0,0,1
3,0,0,0,0,1,0
4,0,0,1,0,0,0
5,0,1,0,0,0,0
6,1,0,0,0,0,0

In [49]:
dfDummies.values

array([[0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0]], dtype=uint8)